services:
  postgres:
    image: postgres:16-alpine
    container_name: KHSPG
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - '5434:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_DATABASE}']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: KHSMONGO
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - '27018:27017'
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: >
        echo 'db.runCommand({ ping: 1 }).ok' | mongosh admin
        -u $$MONGO_INITDB_ROOT_USERNAME
        -p $$MONGO_INITDB_ROOT_PASSWORD
        --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

volumes:
  postgres_data:
  mongo_data:
